<div class="panel panel-success">
    <div class="panel-heading">
        <div class="panel-title">
            Tipos de documentos
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 text-right">
                <label>ID:</label>
            </div>
            <div class="col-md-2">
                @Html.TextBox("txtID", "", new { @Class = "form-control form-control-smX" })
            </div>
            <div class="col-md-2 text-right">
                <label>Nombre:</label>
            </div>
            <div class="col-md-4">
                @Html.TextBox("txtNombre", "", new { @Class = "form-control form-control-smX" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-right">
                <label>Tipo documento:</label>
            </div>
            <div class="col-md-2">
                @Html.TextBox("txtID", "", new { @Class = "form-control form-control-smX" })
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
                <div class="btn btn-sm btn-success">
                    Buscar
                </div>
            </div>
        </div>
    </div>
</div>
