@using AbcapGestionComercialMVC.Models.Clases.ForeCast
@model List<clsAppNetProyeccionForeCast_Archivos_Validaciones>
<div class="modal-header">
    <div class="modal-title">
        Listado de validaciones para la consolidación del archivo
    </div>
</div>
<div class="modal-body" style="max-height:350px; overflow-y:auto">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <td>
                    Mensaje Validación
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (clsAppNetProyeccionForeCast_Archivos_Validaciones objItem in Model)
            {
                <tr>
                    <td>
                        @objItem.Nombre
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <div class="btn btn-sm btn-default w-100" data-dismiss="modal">
                Cerrar
                <span class="glyphicon glyphicon-remove"></span>
            </div>
        </div>
    </div>
</div>