<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <!--<add name="defaultConnString" connectionString="Data Source=localhost\SQL2005;Initial Catalog=jarGestionDocumental2;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>-->
    <!--<add name="defaultConnString" connectionString="Data Source=sql5020.site4now.net;Initial Catalog=DB_A3FBB4_fredygutierrez;User ID=DB_A3FBB4_fredygutierrez_admin;Password=fgutierrezv1@" providerName="System.Data.SqlClient" />-->
    <add name="defaultConnString" connectionString="Data Source=DESKTOP-51CADNV;Initial Catalog=GestionDocumental;User ID=SA;Password=SISTEMAS.2018" providerName="System.Data.SqlClient" />
    <!--<add name="defaultConnString" connectionString="Data Source=WADMIND03;Initial Catalog=jarGestionDocumental;User ID=Aplicacion;Password=CARCUR.AA1" providerName="System.Data.SqlClient"/>-->
    <!--<add name="defaultConnString" connectionString="Data Source=DESARROLLO2;Initial Catalog=jarGestionDocumental2;User ID=Aplicacion;Password=CARCUR.AA1" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="VALIDARDESDEDIRECTORIOACTIVO" value="true"/>
    <add key="validarExistenciaUsuarioEnLDAPRegistro" value="False"/>
    <add key="LDAPDirectoryPath" value="LDAP://192.168.10.1:389/DC=jarandes,DC=co"/>
    <add key="LDAPUsuario" value="FREDYAG"/>
    <add key="LDAPClave" value="SISTEMAS.2018"/>
    <add key="domain" value="jarandes"/>
    <add key="directorioLocalApp" value="true"/>
    <add key="carpetaSubidaArchivos" value="ArchivosSubidos/"/>
    <add key="carpetaTemporal" value="tempArchivos"/>
    <add key="habilitarEnvioCorreo" value="True"/>
    <add key="smtp" value="smtp.office365.com"/>
    <add key="usuariosmtp" value="sigadmin@jarandes.com"/>
    <add key="clavesmtp" value="2020*SISTEMAS"/>
    <add key="puertosmtp" value="587"/>
    <add key="EnableSSL" value="True"/>
    <add key="NombreNota" value="ComprobanteNotaCredito"/>
    <add key="UbicacionServidorReporte" value="\\Ntsig\NotasDC"/>
    <add key="prefijoArchivoNota" value="JardinesDeLosAndes_"/>
    <add key="UbicacionCarpetaArchivos" value="\\PRODUCCION02\AppNetProyecciones"/>
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="180"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    <sessionState timeout="100" mode="InProc" ></sessionState>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1048576000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization  maxJsonLength="500000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>